tmp
appengine-generated

*.pyc
*.class
.project
.classpath
.settings
target
test-output
bin
web/src/main/webapp/WEB-INF/lib
web/src/main/webapp/WEB-INF/classes
bower_components/

# Package Files #
*.jar
*.war
*.ear

wink.js
log
release

.DS_Store
wavez.iml
wavez.ipr
wavez.iws
wavez-root.iml
wavez-root.ipr
wavez-root.iws
.idea/
.idea
.idea/*
