.chart text {
    fill: #aaa;
    font: 10px sans-serif;
}

.y.axis line {
    stroke-width: 1px;
}

.y.axisLeft line {
    stroke: green;
}

.y.axisRight line {
    stroke: steelblue;
}

.axis path {
    stroke-width: 2px;
}

.axisLeft path {
    stroke: #1d7fb3;
}

.axisRight path {
    stroke: #1db34f;
}

.bar {
    fill: #1db34f;
}

.line {
    stroke: #1d7fb3;
    stroke-width: 2px;
    stroke-linecap: "butt";
}

.line.projection {
    stroke-dasharray: 10, 10;
}

line.limit {
    stroke: red;
    stroke-opacity: 0.2;
    stroke-width: 8px;
}

.circle {
    fill: #1d7fb3;
    stroke: white;
    stroke-opacity: 0;
    stroke-width: 0px;
}

.scopePoints {
    fill: steelblue;
    fill-opacity: 0.2;
}

.scopeDone {
    fill: green;
    fill-opacity: 0.2;
}

.scopeProjection {
    fill: green;
    fill-opacity: 0.2;
}

.scopeOut {
    fill: red;
    fill-opacity: 0.2;
}

.x.axis path {
    display: none;
}

.x.axis text {
    fill: #aaa;
}