div.outter {
    width: 100%;
}

div.chart {
    display: table;
    margin: 0 auto;
}

.chart text {
    fill: #aaa;
    font: 10px sans-serif;
}

.y.axis line {
    stroke-width: 1px;
}

.y.axisLeft line {
    stroke: green;
}

.y.axisRight line {
    stroke: steelblue;
}

.axis path {
    stroke-width: 2px;
}

.axisLeft path {
    stroke: #1d7fb3;
}

.axisRight path {
    stroke: #1db34f;
}

.bar {
    fill: #1db34f;
}

.bar:hover {
    fill: #3cc76a;
    stroke-width: 1px;
    stroke-dasharray: 4, 4;
    stroke: green;
    cursor: pointer;
}

.line {
    stroke: #1d7fb3;
    stroke-width: 2px;
    stroke-linecap: "butt";
}

.line.projection {
    stroke: gray;
    stroke-opacity: 0.5;
    /*    stroke-dasharray: 4, 4;*/
}

line.limit {
    stroke: red;
    stroke-opacity: 0.2;
    stroke-width: 2px;
    stroke-dasharray: 4, 4;
}

.circle {
    fill: #1d7fb3;
    stroke: white;
    stroke-opacity: 0;
    stroke-width: 0px;
}

.circle.projection {
    fill: gray;
    opacity: 0.5;
}

.scopePoints {
    fill: steelblue;
    fill-opacity: 0.2;
}

.scopePoints:hover {
    stroke: steelblue;
    stroke-width: 1px;
    stroke-dasharray: 4, 4;
    cursor: pointer;
}

.scopeDone {
    fill-opacity: 0.2;
    fill: green;
}

.scopeDone:hover {
    stroke: green;
    stroke-width: 1px;
    stroke-dasharray: 4, 4;
    cursor: pointer;
}

.scopeOut {
    fill: red;
    fill-opacity: 0.2;
}

.scopeOut:hover {
    stroke: red;
    stroke-width: 1px;
    stroke-dasharray: 4, 4;
    cursor: pointer;
}

.x.axis path {
    display: none;
    stroke: steelblue;
}

g.x.axis {
    fill: white;
}

.x.axis line {
    /*    stroke: #ddd;*/
}

.x.axis text {
    fill: #aaa;
}