.chart text {
    fill: #aaa;
    font: 10px sans-serif;
}

.y.axis line {
    stroke-width: 1px;
}

.y.axisLeft line {
    stroke: green;
}

.y.axisRight line {
    stroke: steelblue;
}

.axis path {
    fill: none;
    stroke-width: 2px;
}

.axisLeft path {
    stroke: green;
}

.axisRight path {
    stroke: steelblue;
}

.bar {
    fill: steelblue;
}

.x.axis path {
    display: none;
}

.x.axis text {
    fill: #aaa;
}